* {
    margin:0;
    padding:0;
 }
 

.supramenu { 
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}


.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .9rem;
    padding-left: .9rem;
    font-size: 20px;
    margin: 10px 15px 10px 15px;
}

.w-100 {
    width: 100%!important;
    height: 500px;
}

.btn-primary {
    color: #fff;
    background-color:red;
    border-color: red;
  }

  .btn-primary:hover {
    color: #fff;
    background-color:black;
    border-color:black;
  }